.trigger {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: auto 0;
    width: 100%;

    &[data-popup-open] {
        .chevron {
            transform: rotate(180deg);
        }
    }
}

.chevron {
    transition: 0.1s transform;
}

.popup-item {
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.1s, color 0.1s;

    &:hover:not([data-checked]) {
        background-color: var(--foreground);
        color: var(--muted);
    }

    &[data-checked] {
        background-color: var(--secondary);
    }
}
