.special-title-1 {
    font-size: var(--font-size-special-title-1);
    font-weight: 600;
}

.special-title-2 {
    font-size: var(--font-size-special-title-2);
    font-weight: 500;
}

.special-body-1 {
    font-size: var(--font-size-special-body-1);
    font-weight: 700;
}

.special-body-2 {
    font-size: var(--font-size-special-body-2);
    font-weight: 700;
}

.title-1 {
    font-size: var(--font-size-title-1);
    font-weight: 700;
}

.title-2 {
    font-size: var(--font-size-title-2);
}

.title-3 {
    font-size: var(--font-size-title-3);
    font-weight: 500;
}

.body-1 {
    font-size: var(--font-size-body-1);
    font-weight: 700;
}

.body-2 {
    font-size: var(--font-size-body-2);
    font-weight: 500;
}

.body-3 {
    font-size: var(--font-size-body-3);
}

.caption-1 {
    font-size: var(--font-size-caption-1);
    font-weight: 500;
}

.caption-2 {
    font-size: var(--font-size-caption-1);
    font-weight: 700;
}
