@import "@/shared/styles/font-faces.css";
@import "@/shared/styles/custom-vars.css";
@import "@/shared/styles/globals.css";

body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 1rem;

  margin: 0 auto;
  display: flex;
  justify-content: center;
  min-width: 320px;
  max-width: 1200px;
  min-height: 100vh;
}

#root {
  width: 100%;
}
